main {
  background-color: gray;
  color: white;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
}

.site-name {
  background-color: black;
  padding: 1rem;
}

.site-home {
  padding: 1rem;
  height: 85%;
}

.site-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.algorithms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: blue;
  padding: 1rem;
  border-radius: 1rem;
}

.cards {
  background-color: aqua;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 20%;
}

.footer {
  background-color: black;
  color: white;
  display: flex;
  height: 5%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
